<div class="formulario">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h3 class="rtext-24 rtext-black omnesbold">
      Recibimos tu información y el proceso de revisión tardará (unas horas,
      unos minutos, unos días “Por definir”)
    </h3>
    <p class="rtext-18 rtext-black omnesregular rmb-40">
      Cuando haya finalizado te enviaremos un mensaje de texto y un correo
      electrónico para notificarte el paso a seguir.
    </p>
    <div class="imgcenter">
      <img
        src="../../../assets/img/recibimosinformacion.svg"
        alt=""
        class="mrgn-icon"
      />
    </div>
  </div>
</div>
