.img-top-header {
  width: 100%;
  top: 0px;
  left: 0px;
  height: 88px;
  background: transparent url('../../../assets/img-header/trama.png') 0% 0%;
  opacity: 1;
  position: absolute;
}

.background-logo {
  top: 28px;
  left: 664px;
  width: 112px;
  height: 112px;
  background: #001839 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  padding-top: 1rem;
}
