<app-alertglobal
  class="animate__animated animate__fadeIn"
  *ngIf="activeAlert"
></app-alertglobal>

<div class="contenido animate__animated animate__fadeIn">
  <app-loader *ngIf="activeload"></app-loader>

  <div class="header">
    <app-header-desk></app-header-desk>
  </div>

  <div class="cuerpo">
    <div class="rp-top-112 formulario">
      <h3 class="title rmb-21 omnesbold">Iniciar sesión</h3>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <form [formGroup]="inicioSesion">
          <span class="rtext-16"><strong class="semibold rtext-black">Correo electrónico</strong> </span>
          <div class="rp-relative">
            <input
              type="email"
              autocomplete="off"
              class="input-inline omnesregular"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              style="margin-bottom: 22px"
              placeholder="nombre@mail.com"
              formControlName="mail"
              autocomplete="off"
            />
          </div>
          <span class="rtext-16"><strong class="semibold rtext-black">Contraseña</strong> </span>
          <div class="rp-relative div-eyes-pass">
            <input
              [type]="password"
              class="input-inline omnesregular"
              id="exampleInputPassword1"
              placeholder="W3tcya5p."
              formControlName="pass"
              autocomplete="off"
            />
            <img
              src="../../../assets/img/Trazado 447.svg"
              alt=""
              aria-hidden="true"
              *ngIf="!show"
              (click)="showPass()"
              class="eyes"
            />
            <img
              src="../../../assets/img/ojomuestra.svg"
              alt=""
              aria-hidden="true"
              *ngIf="show"
              (click)="showPass()"
              class="eyes"
            />
          </div>
        </form>
      </div>
      <div class="rmb-18 rmt-5">
        <a class="underline rtext-18 rmb-32 omnes" (click)="olvidoPassword()">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
      <div
        class="r-alert-errors rmb-8 px-4 animate__animated animate__fadeIn"
        *ngIf="msjError"
      >
        <img
          src="../../../assets/img/incorrecto.svg"
          width="16"
          height="16"
          alt="Icono"
        />
        <small class="mx-2 rtext-16 rtext-black">{{ errores.msg }}</small>
      </div>
      <div
        class="r-alert-success rmb-8 px-4 animate__animated animate__fadeIn"
        *ngIf="msjSuccess"
      >
        <img
          src="../../../assets/img/palomita.png"
          width="16"
          height="16"
          alt="Icono"
        />
        <small class="mx-2 rtext-16 rtext-black">{{ success }}</small>
      </div>
      <button
        class="btn-azul-disabled mt-3 text-white rtext-18 continuar semibold"
        [ngClass]="inicioSesion.valid ? 'btn-azul-active' : 'btn-azul-disabled'"
        type="submit"
        (click)="onSubmit()"
        [disabled]="!inicioSesion.valid"
      >
        Iniciar sesión
      </button>
    </div>
  </div>

  <div class="">
    <app-footer [color]="color"></app-footer>
  </div>
</div>
